In [27]:
class NumberNameGenerator():

    def __init__(self):
        self.order = {0: '', 1: 'Thousand', 2: 'Million', 3: 'Billion', 4: 'Trillion', 5: 'Quadrillion'}
        self.names = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven', 8: 'Eight', 9: 'Nine', 10: 'Ten',
                     11: 'Eleven', 12: 'Twelve', 13: 'Thirteen', 14: 'Fourteen', 15: 'Fifteen', 16: 'Sixteen', 17: 'Seventeen',
                     18: 'Eighteen', 19: 'Nineteen', 20: 'Twenty', 30: 'Thirty', 40: 'Forty', 50: 'Fifty', 60: 'Sixty', 70: 'Seventy',
                     80: 'Eighty', 90: 'Ninety', 100: 'Hundred'}

    def get_name(self, n):

        numbername = self.names.get(n, '')
        if n == 0:
            numbername = 'Zero'

        if not numbername:
            chunks = []
            while True:
                n, r = divmod(n, 1000)
                chunks.append(r)
                if n == 0:
                    break
            chunks = chunks[::-1]
            orders = [i for i in range(len(chunks))][::-1]

            for order_, chunk_ in zip(orders, chunks):
                hundreds, tens_and_ones = divmod(chunk_, 100)
                if hundreds > 0:
                    numbername += f' {self.names.get(hundreds)} Hundred'
                if tens_and_ones > 0:
                    if hundreds > 0:
                        numbername += ' and'
                    if tens_and_ones in self.names.keys():
                        numbername += f' {self.names.get(tens_and_ones)}'
                    else:
                        tens, ones = divmod(tens_and_ones, 10)
                        tens *= 10
                        numbername += f' {self.names.get(tens)} {self.names.get(ones)}'

                numbername += f' {self.order.get(order_)}'

        return numbername[1:]

In [30]:
import random
numgen = NumberNameGenerator()

for _ in range(10):
    num = random.randint(0, 10e5)
    print(f'{num:019,} | {numgen.get_name(num)}')

000,000,000,000,521 | Five Hundred and Twenty One
000,000,000,623,788 | Six Hundred and Twenty Three Thousand Seven Hundred and Eighty Eight
000,000,000,435,969 | Four Hundred and Thirty Five Thousand Nine Hundred and Sixty Nine
000,000,000,811,471 | Eight Hundred and Eleven Thousand Four Hundred and Seventy One
000,000,000,346,245 | Three Hundred and Forty Six Thousand Two Hundred and Forty Five
000,000,000,630,170 | Six Hundred and Thirty Thousand One Hundred and Seventy
000,000,000,591,920 | Five Hundred and Ninety One Thousand Nine Hundred and Twenty
000,000,000,173,411 | One Hundred and Seventy Three Thousand Four Hundred and Eleven
000,000,000,008,689 | Eight Thousand Six Hundred and Eighty Nine
000,000,000,900,227 | Nine Hundred Thousand Two Hundred and Twenty Seven
000,000,001,606,055 | One Million Six Hundred and Six Thousand Fifty Five